.canvas {
    width: 100%;
    height: 100%;
    border-radius: var(--radius-md);
}

.axisLabel {
    font-size: 11px;
    font-weight: 700;
    opacity: 0.5;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
}

.htmlNoPointer {
    pointer-events: none;
}
